<!DOCTYPE html>
<html>
  <head>
    <title>AppFinal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
       <ul>
          <li><%= link_to 'home', root_path %></li>
          <li><%= link_to 'about us', about_us_path %></li>
          <li><%= link_to 'contact', contact_path %></li>
       </ul>
    </nav>
    <%= yield %>
    <footer>
      <ul>
        <li><%= link_to 'privacy', legal_privacy_path %></li>
        <li><%= link_to 'terms of use', legal_terms_of_use_path %></li>
        <li><%= link_to 'cookies', legal_cookies_path %></li>
        <li><%= link_to 'social networks', legal_social_networks_path %></li>
      </ul>
    </footer>
  </body>
</html>
